/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
	color:#333;
	font-size:15px;
	font-family:verdana;
}

h1{
	font-size: 30px;
	padding-left: 20px;
}

h2{
	font-size: 20px;
}

a{
	font-weight: lighter;
}

a:hover{
	background-color: black;
	color:white;
}

table th{
	padding:10px 5px;
}

table td{
	padding:10px 10px;
}

table{
	padding-left:20px;
}

label{
	display: block;
}

.newbox{
	padding-left: 20px;
}

.newbox-text{
	padding-bottom: 15px;
}


.update-book{
	padding-bottom: 15px;
}


.show{
	padding:20px 0 0 20px;
}

.show-content{
	padding:15px 0;
}

.show p{
	padding-left:35px;
	padding-bottom: 15px;
}

.show strong{
	padding:5px;
}

.flash{
	padding-left: 40px;
	color:green;
	font-size:12px;
}

.index{
	padding-top:20px;
}

.edit{
	padding-top:20px;
}